#!/usr/bin/make -f

DEBIAN_DIR := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))

ifndef LINARO
$(warning LINARO environment variable not defined)
endif

.PHONY: build build-arch build-indep binary binary-arch binary-indep clean

build: build-arch build-indep

build-arch:
	dh_testdir
	make

build-indep:

binary: binary-arch binary-indep

binary-arch: make-changelog init-install
	dh_testroot
	dh_prep
	dh_installdirs

	PATH=$(LINARO)/host/usr/bin:$(PATH) $(MAKE) -C build_debug DESTDIR=$(DEBIAN_DIR)/tmp install
	PATH=$(LINARO)/host/usr/bin:$(PATH) $(MAKE) -C build_perf DESTDIR=$(DEBIAN_DIR)/tmp install
	PATH=$(LINARO)/host/usr/bin:$(PATH) $(MAKE) -C build_instr DESTDIR=$(DEBIAN_DIR)/tmp install

	dh_install --fail-missing
	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_installman
	dh_installcatalogs
	dh_installcron
	dh_installdebconf
	dh_installemacsen
	dh_installifupdown
	dh_installinfo
	dh_installinit
	dh_installmenu
	dh_installmime
	dh_installmodules
	dh_installlogcheck
	dh_installlogrotate
	dh_installpam
	dh_installppp
	dh_installudev
	dh_installwm
	dh_installgsettings

	dh_bugfiles
	dh_ucf
	dh_lintian
	dh_gconf
	dh_icons
	dh_perl
#	dh_usrlocal

	dh_link
	dh_installxfonts
	dh_compress
	dh_fixperms

	dh_strip -pnanox-performance --dbg-package=nanox-performance-dbg
	dh_strip -pnanox-debug --dbg-package=nanox-debug-dbg
	dh_strip -pnanox-instrumentation --dbg-package=nanox-instrumentation-dbg
	PATH=$(LINARO)/host/usr/bin:$(PATH) dh_makeshlibs
	dh_shlibdeps  --sysroot=$(ROOTFS)
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

clean: clean-changelog clean-install
	dh_testdir
#	make clean
	dh_clean

#
# clean/init-install
#

init-install:
ifeq ($(FS),x86)
	ln -sf $(DEBIAN_DIR)/nanox-debug-dev.install.x86 $(DEBIAN_DIR)/nanox-debug-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-debug.install.x86 $(DEBIAN_DIR)/nanox-debug.install
	ln -sf $(DEBIAN_DIR)/nanox-dev.install.x86 $(DEBIAN_DIR)/nanox-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-instrumentation-dev.install.x86 $(DEBIAN_DIR)/nanox-instrumentation-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-instrumentation.install.x86 $(DEBIAN_DIR)/nanox-instrumentation.install
	ln -sf $(DEBIAN_DIR)/nanox-performance-dev.install.x86 $(DEBIAN_DIR)/nanox-performance-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-performance.install.x86 $(DEBIAN_DIR)/nanox-performance.install
	ln -sf $(DEBIAN_DIR)/nanox.install.x86 $(DEBIAN_DIR)/nanox.install
else
	ln -sf $(DEBIAN_DIR)/nanox-debug-dev.install.other $(DEBIAN_DIR)/nanox-debug-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-debug.install.other $(DEBIAN_DIR)/nanox-debug.install
	ln -sf $(DEBIAN_DIR)/nanox-dev.install.other $(DEBIAN_DIR)/nanox-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-instrumentation-dev.install.other $(DEBIAN_DIR)/nanox-instrumentation-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-instrumentation.install.other $(DEBIAN_DIR)/nanox-instrumentation.install
	ln -sf $(DEBIAN_DIR)/nanox-performance-dev.install.other $(DEBIAN_DIR)/nanox-performance-dev.install
	ln -sf $(DEBIAN_DIR)/nanox-performance.install.other $(DEBIAN_DIR)/nanox-performance.install
	ln -sf $(DEBIAN_DIR)/nanox.install.other $(DEBIAN_DIR)/nanox.install
endif

clean-install:
	rm -f $(DEBIAN_DIR)/nanox-debug-dev.install
	rm -f $(DEBIAN_DIR)/nanox-debug.install
	rm -f $(DEBIAN_DIR)/nanox-dev.install
	rm -f $(DEBIAN_DIR)/nanox-instrumentation-dev.install
	rm -f $(DEBIAN_DIR)/nanox-instrumentation.install
	rm -f $(DEBIAN_DIR)/nanox-performance-dev.install
	rm -f $(DEBIAN_DIR)/nanox-performance.install
	rm -f $(DEBIAN_DIR)/nanox.install

#
# changelog
#

VERSION := $(shell git describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')

define changelog
nanox ($(VERSION)) unstable; urgency=low

  * Dummy changelog.

 -- Foo <foo@bar>  Tue, 07 Feb 2017 09:48:11 +0100
endef
export changelog

.PHONY: make-changelog clean-changelog

make-changelog:
	echo "$$changelog" >$(DEBIAN_DIR)/changelog

clean-changelog:
	rm -f $(DEBIAN_DIR)/changelog
